<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Material</th>
            <th>Trade</th>
            <th>Cost code</th>
            <th>Price</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of list$ | async" >
            <td> {{row.id}} </td>
            <td> {{row.material}} </td>
            <td> {{row.trade}} </td>
            <td> {{row.cost_code}} </td>
            <td> {{row.price}} </td>
            <td> {{row.active}} </td>
            <td>
              <button  class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
